# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Ignore build output directories
out/
# Ignore mistakenly created SSH files
eval "$(ssh-agent -s)"
eval "$(ssh-agent -s)".pub

